@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  box-sizing: border-box;
}

body{ 
	background-color: lightgrey;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
form {
	margin-top: 80px;
	margin-bottom: 10px;
	height: 60px;
}
label {
	margin: 20px;
	padding: 5px;
	font-size: 24px;
}
input {
	height: 30px;
	width: 250px;
	padding: 5px;
}
#user-profil {
	display: inline-flex;
	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
  	height: 100px;
  	width: 280px;
  	margin: 10px;
  	
}
img {
	height: 80px;
	width: 80px;
	margin: 5px;
	
}
a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	margin: 5px;
	padding-top: 20px;
	width: 140px;
}